@model PBSDAL.Entity.Team

@{
    ViewBag.Title = "EditTeam";
}

<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Team</h3>
            <div class="box-tools pull-right">
                <a href="@Url.Action("Index", "Team")" class="btn btn-success"><i class="fa fa-list-alt" aria-hidden="true"> Team member List </i></a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            @using (Html.BeginForm("EditTeam", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6" style="direction:ltr">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control select2", placeholder = "Enter your quote here" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div><!-- /.form-group -->                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.MyJob)
                            @Html.EditorFor(model => model.MyJob, new { htmlAttributes = new { @class = "form-control select2", placeholder = "Enter the Author Name" } })
                            @Html.ValidationMessageFor(model => model.MyJob, "", new { @class = "text-danger" })
                        </div>
                        @{
                            List<SelectListItem> listCats = new List<SelectListItem>();
                            listCats.Add(new SelectListItem
                            {
                                Text = "PBS’ Team",
                                Value = "a1"
                            });
                            listCats.Add(new SelectListItem
                            {
                                Text = "Expert Team",
                                Value = "a2"
                            });
                            listCats.Add(new SelectListItem
                            {
                                Text = "Creativity Committee",
                                Value = "a3"
                            });
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.TeamCategory)
                            @Html.DropDownListFor(model => model.TeamCategory, listCats, "-- Select Category --",new { @class = "form-control select2" })                            
                            @Html.ValidationMessageFor(model => model.TeamCategory, "", new { @class = "text-danger" })
                        </div>  
                        
                    </div><!-- /.col -->
                    <div class="col-md-6" style="direction:rtl;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Ar_Name)
                            @Html.EditorFor(model => model.Ar_Name, new { htmlAttributes = new { @class = "form-control select2", rows = "3", placeholder = "" } })
                            @Html.ValidationMessageFor(model => model.Ar_Name, "", new { @class = "text-danger" })
                        </div><!-- /.form-group -->
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.ArMyJob)
                            @Html.EditorFor(model => model.ArMyJob, new { htmlAttributes = new { @class = "form-control select2", placeholder = "Enter the Author Name" } })
                            @Html.ValidationMessageFor(model => model.ArMyJob, "", new { @class = "text-danger" })
                        </div>                                            

                        <div class="form-group" style="direction:ltr">
                            @Html.LabelFor(model => model.File)
                            <input id="File" name="file" class="form-control select2" type="file" onchange="show(this)" placeholder="" />
                            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                        </div>                        
                        <div class="form-group">
                            <img src="~/imagesMVC/TeamImages/@Model.ImagePath" width="60" height="60" id="TeamImg" />
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="تحديث (Update)" class="btn btn-info" />
                        </div>
                    </div>
                </div><!-- /.row -->
            }
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

<script type="text/javascript">
            function show(input) {
                if (input.files && input.files[0]) {
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        var ext = input.value.match(/\.(.+)$/)[1].toLowerCase();
                        switch (ext) {
                            case 'jpg':
                            case 'jpeg':
                            case 'png':
                            case 'gif':
                                $('#TeamImg').attr('src', e.target.result);
                                //$('#DefaultImagePath').show();
                                break;
                            default:
                                swal("Invalid Image Format !!!", "Please upload an Image of Jpeg/Jpg/Png/Gif Format", "error");
                                $("#File").val('');
                        }
                    }
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
</script>




