
@model PBSDAL.Entity.Team

<a class="close" data-dismiss="modal" aria-label="Close"><span>X</span></a>
<h1 class="title-section">Our Team</h1>
<div class="row cont">

    <div class="col-md-3 col-sm-3">
        <div class="my-img">
            <img src="~/imagesMVC/TeamImages/@Model.ImagePath" alt="@Model.Ar_Name" />
        </div>
    </div>

    <div class="col-md-9 col-sm-9">

        <div class="my-info">
            <h1 class="title-section in-line">@Model.Ar_Name </h1>
            <span class="my-job">@Model.Ar_Designation</span>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.ArMyJob)</h3>
                    <h4 class="answer">@Model.ArMyJob</h4>
                </div>

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.Arfacts)</h3>
                    <h4 class="answer">@Model.Arfacts</h4>
                </div>

            </div>

            <div class="col-md-6">

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.ArSecret)</h3>
                    <h4 class="answer">@Model.ArSecret</h4>
                </div>

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.ArAnotherLife)</h3>
                    <h4 class="answer">@Model.ArAnotherLife</h4>
                </div>

            </div>
        </div>

        <div class="about-me">
            <h3 class="question">@Html.DisplayNameFor(model => model.ArQuote)</h3>
            <h4 class="answer">"@Model.ArQuote"</h4>
        </div>

    </div>


</div>

<div class="my-link">
</div>
<div class="clearfix"></div>