@model PBSDAL.Entity.Team

<a class="close" data-dismiss="modal" aria-label="Close"><span>X</span></a>
<h1 class="title-section">Our Team</h1>
<div class="row cont">

    <div class="col-md-3 col-sm-3">
        <div class="my-img">
            <img src="~/imagesMVC/TeamImages/@Model.ImagePath" alt="@Model.Name" />
        </div>
    </div>

    <div class="col-md-9 col-sm-9">

        <div class="my-info">
            <h1 class="title-section in-line">@Model.Name </h1>
            <span class="my-job">@Model.Designation</span>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.MyJob):</h3>
                    <h4 class="answer">@Model.MyJob</h4>
                </div>

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.facts):</h3>
                    <h4 class="answer">@Model.facts</h4>
                </div>

            </div>

            <div class="col-md-6">

                <div class="about-me">
                    <h3 class="question">@Html.DisplayNameFor(model => model.Secret):</h3>
                    <h4 class="answer">@Model.Secret</h4>
                </div>

                <div class="about-me">
                    <h3 class="question"@Html.DisplayNameFor(model => model.AnotherLife):</h3>
                    <h4 class="answer">@Model.AnotherLife</h4>
                </div>

            </div>
        </div>

        <div class="about-me">
            <h3 class="question">@Html.DisplayNameFor(model => model.Quote):</h3>
            <h4 class="answer">"@Model.Quote"</h4>
        </div>

    </div>


</div>

<div class="my-link">
</div>
<div class="clearfix"></div>

    

   